Please click on the following link to access the order page
<br/>
<a href="<%= url_for :controller => 'teachers', :action => 'order', :email => @email, :only_path => false, :host => 'localhost:3000' %>">Order page</a>